body {
	font-family: "helvetica", sans-serif;
	background: ##e4e3db;
}

input {
	width: 100%;
	margin: 10px auto;
	border: none;
	background: none;
	font-size: 45px !important; 
	word-wrap: normal;
	outline: none;
}
button {
    background: none;
    border: 1px solid black;
    color: black;
    padding: 8px 8px;
    text-align: center;
    text-decoration: bold;
    display: inline-block;
    font-size: 30px;
    text-transform: uppercase !important;
}