body {
	font-family: "helvetica", sans-serif;
	background: ##e4e3db;
}

input {
	width: 100%;
	margin: 10px auto;
	border: none;
	background: none;
	font-size: 45px; 
	word-wrap: normal;
	outline: none;

.button {
    background: none;
    border: none;
    color: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: bold;
    display: inline-block;
    font-size: 30px;
